#!ipxe

# Proxmox Operating System
# https://www.proxmox.com

goto ${menu}

:proxmox
set os Proxmox
clear proxmox_version
menu ${os} - ${arch_a}
{% for item in releases.proxmox.versions.stable %}
item {{ item.code_name }} ${space} ${os} {{ item.name }}
{% endfor %}
choose proxmox_version || goto proxmox_exit
goto init

:proxmox_exit
clear menu
exit 0

:init
kernel ${proxmox_mirror}{{ releases.proxmox.base_dir }}/${proxmox_version}/linux26 vga=791 video=vesafb:ywrap,mtrr ramdisk_size=16777216 rw quiet splash=silent initrd=initrd.iso.img
initrd ${proxmox_mirror}{{ releases.proxmox.base_dir }}/${proxmox_version}/initrd.iso.img
boot